.section {
  margin-top: 32px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 12px;
  margin-top: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.name {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text);
}

.quantity {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-text-muted);
}
